#ForeignPack.foreign_pack
            h2
                | 해외패키지
            .pack_link
                | 
                ul
                    li
                        a.img-item(href='/#', data-log='Main_Asia')
                            img(src='//img.modetour.com/modetour/2016/main/sch_foreign/foreign_pack01_off.png', alt='')
                            |    
                            span.name 동남아/대만
                            
                    li
                        a.img-item(href='/#', data-log='Main_Asia')
                            img(src='//img.modetour.com/modetour/2016/main/sch_foreign/foreign_pack01_off.png', alt='')
                            |    
                            span.name 동남아/대만

        
                    li
                        a.img-item(href='/#', data-log='Main_Asia')
                            img(src='//img.modetour.com/modetour/2016/main/sch_foreign/foreign_pack01_off.png', alt='')
                            |    
                            span.name 동남아/대만
                    li
                        a.img-item(href='/#', data-log='Main_Asia')
                            img(src='//img.modetour.com/modetour/2016/main/sch_foreign/foreign_pack01_off.png', alt='')
                            |    
                            span.name 동남아/대만
                            
                    li
                        a.img-item(href='/#', data-log='Main_Asia')
                            img(src='//img.modetour.com/modetour/2016/main/sch_foreign/foreign_pack01_off.png', alt='')
                            |    
                            span.name 동남아/대만
                    li
                        a.img-item(href='/#', data-log='Main_Asia')
                            img(src='//img.modetour.com/modetour/2016/main/sch_foreign/foreign_pack01_off.png', alt='')
                            |    
                            span.name 동남아/대만
                            
                            
                    li
                        a.img-item(href='/#', data-log='Main_Asia')
                            img(src='//img.modetour.com/modetour/2016/main/sch_foreign/foreign_pack01_off.png', alt='')
                            |    
                            span.name 동남아/대만
                            
                            
                            
                    li
                        a.img-item(href='/#', data-log='Main_Asia')
                            img(src='//img.modetour.com/modetour/2016/main/sch_foreign/foreign_pack01_off.png', alt='')
                            |    
                            span.name 동남아/대만