.secondnav
                       #nav.navbar.navbar-expand-lg.navbar-light.bg-light
                               
                                #navbarColor03.collapse.navbar-collapse 
                                
                                    .btn-group(role='group')
                                        button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                          | 해외패키지
                                          span.caret
                                            ul.dropdown-menu(role='menu')
                                                li
                                                  a(href="#") My Page
                                                li
                                                  a(href="#") Signout
                                                  
                                    .btn-group(role='group')           
                                        button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                          | 자유여행
                                          span.caret
                                            ul.dropdown-menu(role='menu')
                                                li
                                                  a(href="/users/${currentUser._id}") test
                                                li
                                                  a(href="/signout") Signout     
                                      
                                    .btn-group(role='group')
                                        button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                          | 국내여행
                                          span.caret
                                            ul.dropdown-menu(role='menu')
                                                li
                                                  a(href="/users/${currentUser._id}") My Page
                                                li
                                                  a(href="/signout") Signout  
                                                  
                                    .btn-group(role='group')            
                                        button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                                      | 테마여행
                                                      span.caret
                                                        ul.dropdown-menu(role='menu')
                                                            li
                                                              a(href="/users/${currentUser._id}") My Page
                                                            li
                                                              a(href="/signout") Signout 
                                      
                                    .btn-group(role='group')
                                            button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                                                      | 부산/지방출발
                                                      span.caret
                                                        ul.dropdown-menu(role='menu')
                                                            li
                                                              a(href="/users/${currentUser._id}") My Page
                                                            li
                                                              a(href="/signout") Signout                       
                                                                                                                                                 
                                                                                                                             
                                                               
                                     
                                    form.form-inline.my-2.my-lg-0.ml-auto
                                        input.form-control.mr-sm-2(type='text', placeholder='')
                                        |       
                                        button.btn.btn-success.my-2.my-sm-0(type='submit') 여행지검색 
                                        
                                        
                                        