.header.clearfix
 
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
    .container
      a.navbar-brand(href="/") TOGETHER
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
  
        
      #navbarsExampleDefault.collapse.navbar-collapse
       
              
          if (!currentUser) 
           ul.navbar-nav.ml-auto       
              .btn-group(role='group', aria-label='...')
                  li.nav-item
                    a.nav-link(href="/questions") Questions
                  li.nav-itm
                    a.nav-link(href="/signin") Signin
                  li.nav-itm
                    a.nav-link(href="/users/new") Signup
          else   
           ul.navbar-nav.ml-auto       
              .btn-group(role='group', aria-label='...')
                  li.nav-item
                    a.nav-link(href="/questions") Questions
                  .btn-group(role='group')
                    button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
                      | ${currentUser._id} "님 환영합니다."
                      span.caret
                    ul.dropdown-menu(role='menu')
                        li
                          a(href="/users/${currentUser._id}") My Page
                        li
                          a(href="/signout") Signout